<p>v-data-driven works!</p>
<div class="container">
    <form action="" [formGroup]="formProfile" (ngSubmit)="onSubmitForm()">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
            <div *ngIf="!formProfile.controls['email']?.valid && (formProfile.controls['email']?.dirty || formProfile.controls['email']?.touched) && formProfile.controls['email'].errors?.['required']" class="form-text text-danger">Email is required</div>
            <div *ngIf="!formProfile.controls['email']?.valid && (formProfile.controls['email']?.dirty || formProfile.controls['email']?.touched) && formProfile.controls['email'].errors?.['minlength']" class="form-text text-danger">Email minlength is 3</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="username">
            <div *ngIf="!formProfile.controls['username']?.valid && (formProfile.controls['username']?.dirty || formProfile.controls['username']?.touched) && formProfile.controls['username'].errors?.['required']" class="form-text text-danger">username is required</div>
            <div *ngIf="!formProfile.controls['username']?.valid && (formProfile.controls['username']?.dirty || formProfile.controls['username']?.touched) && formProfile.controls['username'].errors?.['minlength']" class="form-text text-danger">username minlength is 3</div>
        </div>
        <button [disabled]="!formProfile.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>